.image-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: stretch;
    gap: 8px;
}

.image-base {
    height: 272px;
    flex-basis: 32.33%;
    border-radius: 8px;
    background-color: var(--green);
}

.image-base:hover {
    outline: var(--dark-blue) 3px solid;
}

form * {
    color: var(--beige);
}

form {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    flex-basis: 32.33%;
}

form label {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

input {
    height: 32px;
    width: 100%;
    font-size: 75%;
    background-color: var(--green-blue);
    border: var(--green-blue) 4px solid;
}

input[type="submit"] {
    font-weight: bold;
    font-size: 90%;
}

input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
}

.image {
    position: relative;
    padding: 16px 8px 72px 8px;

}

img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    min-width: 0;
}

.image input {
    width: 100px;
    display: none;
    position: absolute;
    bottom: 16px;
    left: 108px;
    border-radius: 4px;
    background-color: var(--red-error);
    border: var(--red-error) 4px solid;
}

.image:hover input {
    display: block;
}

.image:hover input:hover {
    outline: #4e0707 3px solid;
}

.error {
    width: 100%;
}