.flash-error {
    height: 32px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px;
    margin-top: 32px;
    background-color: var(--dark-blue);
}

h1 {
    font-size: 250%;
    color: var(--beige);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

input {
    height: 32px;
    width: 325px;
    font-size: 100%;
    color: var(--beige);
    background-color: var(--green-blue);
    border: var(--green-blue) 3px solid;
    border-radius: 12px;
}

input[type="text"],
input[type="password"] {
    padding-left: 8px;
}

input[type="submit"] {
    padding: 0 4px;
}

.error {
    border-radius: 4px;
}

::placeholder {
    color: var(--beige);
    opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--beige) !important;
}

input:focus {
    border: var(--dark-blue) 3px solid;
    outline: var(--green) 3px solid;
}

input[type="submit"]:hover {
    opacity: 80%;
    cursor: pointer;
}