{% extends "base.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/baseUser.css"/>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ url_for('explore') }}">Explore</a>
            <div class="dropdown">
                <a href="">User</a>
                <div class="dropdown-content">
                    <a href="">Wallet</a>
                    <a href="{{ url_for('membership') }}">Membership</a>
                </div>
            </div>
            <a href="">Portfolio</a>
            <a href="{{ url_for('profile') }}">Profile</a>

        </nav>
    </header>
    <main>
        <h1>Welcome to PixSalle</h1>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
{% endblock %}