{% extends "base.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/baseUser.css"/>
{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('explore') }}">Explore</a></li>
                <li>
                    <a href="">User</a>
                    <ul>
                        <li><a href="">Wallet</a></li>
                        <li><a href="{{ url_for('membership') }}">Membership</a></li>
                        <li></li>
                    </ul>
                </li>
                <li><a href="">Portfolio</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to PixSalle</h1>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
{% endblock %}