{% extends "base.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('signIn2') }}assets/css/explore.css"/>
{% endblock %}

{% block title %}Blog | PixSalle{% endblock %}

{% block main %}
    <h1>ALL IMAGES</h1>
    {% for image in images %}
        <div class="image-container">
            {% for i in 0..10 %}
                <div class="image-info">
                    <img src="uploads/{{ image['picture'] }}" alt="">
                    <div class="dark-gradient"></div>
                    <p class="username">{{ image['username'] }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}