{% extends "base.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/explore.css"/>
{% endblock %}

{% block title %}Explore | PixSalle{% endblock %}

{% block main %}
    <h1>ALL IMAGES</h1>
    <div class="image-container">
        {% for image in images %}
            <div class="image-info">
                <img src="{{ image['pic_url'] }}" alt="">
                <div class="dark-gradient"></div>
                <p class="username">{{ image['username'] }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}